#about {
    margin-top: 2em;

    .team {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2em;

        .member {
            display: flex;
            flex-flow: column;
            margin: 0 auto;

            img {
                width: 150px;
            }
        }
    }
}
